@tailwind base;
@tailwind components;
@tailwind utilities;

section{
  overflow: hidden;
}
.setup{
    display: grid;
    grid-template-columns: repeat(12, ifr);
    grid-template-rows: repeat(8, ifr);
}
.setup img:first-child{
    grid-area: 1 / 1 / 5 /2;
}
.setup img:nth-child(2) {
    grid-area: 5 / 1 / 6 / 1;
}
.setup img:nth-child(3) {
    grid-area: 1 / 2 / 7 / 4;
}
.setup img:nth-child(4) {
    grid-area: 1 / 10 / 8 / 12;
}
.setup img:nth-child(5) {
    grid-area: 2 / 5 / 6 / 8;
}
.setup img:nth-child(6) {
    grid-area: 6 / 2 / 4 / 5;
}
.setup img:nth-child(7) {
    grid-area: 5 / 8 / 1 / 10;
}
.setup img:nth-child(8) {
    grid-area: 5 / 8 / 9 / 10;
}
.setup img:nth-child(9) {
    grid-area: 5 / 11 / 5 / 10;
}


.explore .slick-active .slide_items {
    @apply h-[486px] px-3;
  }
  
  .explore .slick-active.slick-current .slide_items {
    @apply h-[582px];
  }
  
  .explore .slick-slider {
    @apply h-[582px];
  }
  
  .explore .slick-slider .slick-dots {
    display: flex !important;
    @apply gap-5;
  }
  
  .explore .slick-slider .slick-dots {
    @apply absolute bottom-8 left-1/2;
  }
  
  .explore .slick-slider .slick-dots li button {
    @apply text-[0px] w-3 h-3 rounded-full bg-brand;
  }
  .explore .slick-slider .slick-dots .slick-active button {
    @apply text-[0px] w-3 h-3 rounded-full bg-secandari relative after:absolute after:w-7 after:h-7 after:top-1/2 after:left-1/2 after:-translate-y-1/2 after:-translate-x-1/2 after:border-2 after:border-secandari after:rounded-full;
  }  

  .paginate_product li a{
    @apply px-6 py-4 text-[#000000] bg-[#F9F1E7] rounded
  }
  .paginate_product .selected a{
    @apply  bg-secandari 
  }
  .pagiante_blog_product li a{
    @apply px-6 py-4 text-[#000000] bg-[#F9F1E7] rounded
  }
  .pagiante_blog_product .selected a{
    @apply  bg-secandari 
  }
  .pagiante_blog_product .previous {
    @apply  hidden 
  }