@tailwind base;
@tailwind components;
@tailwind utilities;

.setup{
    display: grid;
    grid-template-columns: repeat(12, ifr);
    grid-template-rows: repeat(8, ifr);
}
.setup img:first-child{
    grid-area: 1 / 1 / 5 /2;
}
.setup img:nth-child(2) {
    grid-area: 5 / 1 / 6 / 1;
}
.setup img:nth-child(3) {
    grid-area: 1 / 2 / 7 / 4;
}
.setup img:nth-child(4) {
    grid-area: 1 / 10 / 8 / 12;
}
.setup img:nth-child(5) {
    grid-area: 2 / 5 / 6 / 8;
}
.setup img:nth-child(6) {
    grid-area: 6 / 2 / 4 / 5;
}
.setup img:nth-child(7) {
    grid-area: 5 / 8 / 1 / 10;
}
.setup img:nth-child(8) {
    grid-area: 5 / 8 / 9 / 10;
}
.setup img:nth-child(9) {
    grid-area: 5 / 11 / 5 / 10;
}